@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="mt-4 container shadow-sm p-3 bg-body rounded bg-white text-center">
    <div class="col-12 fs-2">
        <label for="">假單 - 主管審核</label>
    </div>
</div>
<div class="mt-4 container shadow-sm p-3 bg-body rounded bg-white text-center fs-4">
    <div class="col-12 fs-2">
        <label for="">申請人 : @ViewBag.person.name</label>
    </div>
    <div class="mt-4 row">
        <div class="col-6">
            <label for="">假別 :</label>
                @switch (ViewBag.person.type)
                {
                    case 0:
                        <label>特休</label>
                        break;
                    case 1:
                        <label>事假</label>
                        break;
                    case 2:
                        <label>病假</label>
                        break;
                    case 3:
                        <span>生理假</span>
                        break;
                }
            
        </div>
        <div class="col-6">
            <label for="">開始日 : @ViewBag.person.startTime</label>
        </div>
    </div>
    <div class="mt-2 row">
        <div class="col-6">
            <label for="">申請日 :@ViewBag.person.applyTime</label>
        </div>
        <div class="col-6">
            <label for="">結束日 : @ViewBag.person.endTime</label>
        </div>
    </div>
    <div class="mt-4 row gx-0">
        <div class="col">
            <textarea name="" id="" cols="" rows="3" placeholder="事由" style="width: 90%;">@ViewBag.person.reason</textarea>
        </div>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-success my-1">核准</button>
        <button type="button" class="btn btn-danger my-1">駁回</button>
    </div>
</div>