<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - swingvy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/swingvy.styles.css" asp-append-version="true" />
</head>
<body class="bg-light">
    <div class="container-fluid gx-0">
        <!--上面navbar-->
        <div class="d-flex justify-content-between shadow-sm p-3 bg-body rounded bg-white fs-2" style="height: 10vh;">
            <div>Faimi</div>
            <div><a href="#">登出</a></div>
        </div>
        <!--上面navbar結束-->
        <div class="row gx-0">
            <!--左邊navbar-->
            <div class="col-2 border shadow-sm p-3  rounded bg-white bg-gradient" style="height: 87vh">
                <a href="/Home/Index">
                    <div class="my-1 col-12 fs-2">首頁</div>
                </a>
                <a href="/Home/Index">
                    <div class="my-1 col-12 fs-2">會員中心</div>
                </a>
                <a href="/Home/Privacy">
                    <div class="my-1 col-12 fs-2">員工目錄</div>
                </a>
                <a href="/ApplyLeave/Index">
                    <div class="my-1 col-12 fs-2">申請請假</div>
                </a>
                <a href="/CheckLeaveAll/Index">
                    <div class="my-1 col-12 fs-2">請假審核</div>
                </a>
                <a href="/Home/Index">
                    <div class="my-1 col-12 fs-2">行事曆</div>
                </a>
            </div>
            <!--左邊navbar結束-->
            <!--功能內頁-->
            <div class="col-10">
                @RenderBody()
            </div>
            <!--功能內頁結束-->
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
