<style>
    .circular-image {
        width: 200px; /* 設置圖片的寬度 */
        height: 200px; /* 設置圖片的高度 */
        border-radius: 50%; /* 將邊框設置為一半寬度，使圖片變成圓形 */
    }

    .Right_Pic {
        margin-top: 20%;
        width: 650px;
        height: 400px;
    }
</style>

@{
    string Depa;
    string Pition;
    switch (ViewBag.Ifo.Depart)
    {
        case 0:
            Depa = "UI/UX";
            break;
        case 1:
            Depa = "前端";
            break;
        case 2:
            Depa = "後端";
            break;
        default:
            Depa = "無";
            break;
    }

    switch (ViewBag.Ifo.Position)
    {
        case 0:
            Pition = "員工";
            break;
        case 1:
            Pition = "主管";
            break;
        default:
            Pition = "無";
            break;
    }
}

<div class="container-fluid">
    <div class="row">
        <form asp-action="ChangeIfo" asp-controller="MemberCenter" class="col-4" style="margin-left: 10%;">
                <div class="mt-5">
                <img class="circular-image" src="@Url.Content(ViewBag.Ifo.Photo)">
                </div>
                <div class="mt-4">
                    <label>姓名:</label>
                <input type="text" class="myInput ms-4 disabled-input" value=@ViewBag.Ifo.Name name="GetName">
                    @*<input type="hidden" class="original-value" value=@ViewBag.Ifo.Name>*@
                </div>
                <div class="mt-4">
                    <label>信箱:</label>
                    <input type="text" class="myInput ms-4 disabled-input" value=@ViewBag.Ifo.Mail name="GetMail">
                    @*<input type="hidden" class="original-value" value=@ViewBag.Ifo.Mail>*@
                </div>
                <div class="mt-4">
                    <label>手機:</label>
                    <input type="text" class="myInput ms-4 disabled-input" value=@ViewBag.Ifo.Phone name="GetPhone">
                    @*<input type="hidden" class="original-value" value=@ViewBag.Ifo.Phone>*@
                </div>
                <div class="mt-4">
                    <label>部門:</label>
                    <input type="text" class="myInput ms-4 disabled-input" value=@Depa name="GetDepa">
                    @*<input type="hidden" class="original-value" value=@Depa>*@
                </div>
                <div class="mt-4">
                    <label>職等:</label>
                    <input type="text" class="myInput ms-4 disabled-input" value=@Pition name="GetPtion">
                    @*<input type="hidden" class="original-value" value=@Pition>*@
                </div>
                <div class="mt-4">
                    <button type="button" class="btn btn-secondary cancel-button" onclick="cancelClicked()" >取消變更</button>
                    @*按下取消導向原本Controller*@
                    <script>
                        function cancelClicked() {
                            window.location.href = '/MemberCenter/Index';
                        }
                    </script>

                    <button type="submit" class="btn btn-success save-button">保存變更</button>
                </div>
        </form>

        <div class="col-3 mt-5 ">
            <img class="Right_Pic" src="~/img/Working-Vector-Illustration.jpg">
        </div>
    </div>
</div>




