@using swingvy.Enums; 
<style>
    .circular-image {
        width: 200px; /* 設置圖片的寬度 */
        height: 200px; /* 設置圖片的高度 */
        border-radius: 50%; /* 將邊框設置為一半寬度，使圖片變成圓形 */
    }

    .Right_Pic {
        margin-top: 20%;
        width: 650px;
        height: 400px;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



@{
    string Depa;
    string Pition;
    switch (ViewBag.Ifo.Depart)
    {
        case Department.UIUX:
            Depa = "UI/UX";
            break;
        case Department.Frondend:
            Depa = "前端";
            break;
        case Department.Backend:
            Depa = "後端";
            break;
        default:
            Depa = "無";
            break;
    }

    switch (ViewBag.Ifo.Position)
    {
        case Position.Employee:
            Pition = "員工";
            break;
        case Position.Manager:
            Pition = "主管";
            break;
        default:
            Pition = "無";
            break;
    }

    string photoUrl = Url.Content(ViewBag.Ifo.Photo);
}

<dialog id="infoModal">
    <form asp-action="UploadProfilePicture" method="post" enctype="multipart/form-data">
        <label for="file" class="fs-2 mt-5 ms-4">選擇一個頭像圖片：</label><br><br>
        <input type="file" id="upload_img" name="file" accept="image/*" class="fs-5 ms-4"><br><br>
        <input type="hidden" id="cropped_image" name="cropped_image">
        <div id="oldImg" style="display:none;"></div>
        <button type="button" id="crop_img" class="fs-5 mb-5 ms-4 btnSave" data-toggle="modal" data-target="#infoModal">裁剪圖片</button>
        <button type="button" id="cancelButton" class="fs-5 btn-close position-absolute top-0 end-0" onclick="closeDialog()"></button>
        @*<div id="newImgInfo"></div>*@
        <div id="newImg" class="ms-4 mb-3"></div>
        <input id="submit" type="submit" value="確定上傳" class="fs-5 mb-5 ms-4 btnSave" style="display:none;">
    </form>
</dialog>

<!-- ------------- cropper js ---------------- -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css" rel="stylesheet">
<script>

    function openDialog() {
        const infoModal = document.getElementById('infoModal');
        infoModal.showModal();
    }

    function closeDialog() {
        window.location.href = '/MemberCenter/Index';
    }
    (function ($) {
        var width_crop = 300, // 圖片裁切寬度 px 值
            height_crop = 300, // 圖片裁切高度 px 值
            type_crop = "circle", // 裁切形狀: square 為方形, circle 為圓形
            width_preview = 500, // 預覽區塊寬度 px 值
            height_preview = 500, // 預覽區塊高度 px 值
            compress_ratio = 0.85, // 圖片壓縮比例 0~1
            type_img = "jpeg", // 圖檔格式 jpeg png webp
            oldImg = new Image(),
            myCrop, file, oldImgDataUrl;

        // 裁切初始參數設定
        myCrop = $("#oldImg").croppie({
            viewport: { // 裁切區塊
                width: width_crop,
                height: height_crop,
                type: type_crop
            },
            boundary: { // 預覽區塊
                width: width_preview,
                height: height_preview
            }
        });

        $("#crop_img").on("click", function () {
            myCrop.croppie("result", {
                type: "canvas",
                format: type_img,
                quality: compress_ratio
            }).then(function (src) {
                displayCropImg(src);
                displayNewImgInfo(src);
                // 將裁剪後的圖片數據設置為隱藏輸入字段的值
                $("#cropped_image").val(src);
            });
        });

        function readFile(input) {
            if (input.files && input.files[0]) {
                file = input.files[0];
            } else {
                alert("瀏覽器不支援此功能！建議使用最新版本 Chrome");
                return;
            }

            if (file.type.indexOf("image") == 0) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    oldImgDataUrl = e.target.result;
                    oldImg.src = oldImgDataUrl; // 載入 oldImg 取得圖片資訊
                    myCrop.croppie("bind", {
                        url: oldImgDataUrl
                    });
                };

                reader.readAsDataURL(file);
            } else {
                alert("您上傳的不是圖檔！");
            }
        }

        function displayCropImg(src) {
            var html = "<img src='" + src + "' />";
            $("#newImg").html(html);
        }

        $("#upload_img").on("change", function () {
            // 當用戶選擇一個文件時，顯示 "裁剪圖片" 按鈕
            if (this.files && this.files[0]) {
                $("#crop_img").show();
            }

            $("#oldImg").show();
            readFile(this);
        });

        oldImg.onload = function () {
            var width = this.width,
                height = this.height,
                fileSize = Math.round(file.size / 1000),
                html = "";

            //html += "<p>原始圖片尺寸 " + width + "x" + height + "</p>";
            //html += "<p>檔案大小約 " + fileSize + "k</p>";
            //$("#oldImg").before(html);
        };

        function displayNewImgInfo(src) {
            var html = "",
                filesize = src.length * 0.75;

            html += "<p>裁切圖片尺寸 " + width_crop + "x" + height_crop + "</p>";
            html += "<p>檔案大小約 " + Math.round(filesize / 1000) + "k</p>";
            $("#newImgInfo").html(html);
        }

        $("#crop_img").on("click", function () {
            // 當用戶點擊 "裁剪圖片" 按鈕時，顯示 "確定上傳" 按鈕
            $("#submit").show();

            myCrop.croppie("result", {
                type: "canvas",
                format: type_img,
                quality: compress_ratio
            }).then(function (src) {
                displayCropImg(src);
                displayNewImgInfo(src);
            });
        });
    })(jQuery);
</script>
<!-- ------------- cropper js END---------------- -->

<div class="container-fluid">
    <div class="row">
        <form asp-action="ChangeIfo" asp-controller="MemberCenter" class="col-4" style="margin-left: 10%;">
                <div class="mt-5">
                <img class="circular-image" src="@Url.Content(ViewBag.Ifo.Photo)">
                <button type="button" class="btn btn-primary crop-button"  style="margin-top: 40%" onclick="openDialog()">更換頭貼</button>
                </div>
                <div class="mt-4">
                    <label>姓名:</label>
                <input type="text" class="myInput ms-4 disabled-input" value=@ViewBag.Ifo.Name name="GetName">
                </div>
                <div class="mt-4">
                    <label>信箱:</label>
                    <input type="text" class="myInput ms-4 disabled-input" value=@ViewBag.Ifo.Mail name="GetMail">
                    @*<input type="hidden" class="original-value" value=@ViewBag.Ifo.Mail>*@
                </div>
                <div class="mt-4">
                    <label>手機:</label>
                    <input type="text" class="myInput ms-4 disabled-input" value=@ViewBag.Ifo.Phone name="GetPhone">
                    @*<input type="hidden" class="original-value" value=@ViewBag.Ifo.Phone>*@
                </div>
                <div class="mt-4">
                    <label>部門:</label>
                    <input type="text" class="myInput ms-4 disabled-input" value=@Depa name="GetDepa">
                    @*<input type="hidden" class="original-value" value=@Depa>*@
                </div>
                <div class="mt-4">
                    <label>職等:</label>
                    <input type="text" class="myInput ms-4 disabled-input" value=@Pition name="GetPtion">
                    @*<input type="hidden" class="original-value" value=@Pition>*@
                </div>
                <div class="mt-4">
                    <button type="button" class="btn btn-secondary cancel-button " onclick="cancelClicked()" >取消變更</button>
                    @*按下取消導向原本Controller*@
                    <script>
                        function cancelClicked() {
                            window.location.href = '/MemberCenter/Index';
                        }
                    </script>

                    <button type="submit" class="btn btn-success save-button">保存變更</button>
                </div>
        </form>

        <div class="col-3 mt-5 ">
            <img class="Right_Pic" src="~/img/Working-Vector-Illustration.jpg">
        </div>
    </div>
</div>




