<div class="container mt-3">
    <div class="p-4 ">
        <table class="table table-striped">
            <colgroup>
                <!-- 每个<col>元素指定一个列的宽度 -->
                <col style="width: 10%;">
                <col style="width: 10%;">
                <col style="width: 10%;">
                <col style="width: 35%;">
                <col style="width: 35%;">
            </colgroup>

            <thead class="table-light">
                <tr>
                    <th>姓名</th>
                    <th>部門</th>
                    <th>職等</th>
                    <th>信箱</th>
                    <th>電話</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>How</td>
                    <td>後端</td>
                    <td>員工</td>
                    <td>john@example.com</td>
                    <td>0970028151</td>
                </tr>
                <tr>
                    <td>How</td>
                    <td>後端</td>
                    <td>員工</td>
                    <td>john@example.com</td>
                    <td>0970028151</td>
                </tr>
                <tr>
                    <td>How</td>
                    <td>後端</td>
                    <td>員工</td>
                    <td>john@example.com</td>
                    <td>0970028151</td>
                </tr>
                <tr>
                    <td>How</td>
                    <td>後端</td>
                    <td>員工</td>
                    <td>john@example.com</td>
                    <td>0970028151</td>
                </tr>
                <tr>
                    <td>How</td>
                    <td>後端</td>
                    <td>員工</td>
                    <td>john@example.com</td>
                    <td>0970028151</td>
                </tr>
                <tr>
                    <td>How</td>
                    <td>後端</td>
                    <td>員工</td>
                    <td>john@example.com</td>
                    <td>0970028151</td>
                </tr>
                <tr>
                    <td>How</td>
                    <td>後端</td>
                    <td>員工</td>
                    <td>john@example.com</td>
                    <td>0970028151</td>
                </tr>
                <tr>
                    <td>How</td>
                    <td>後端</td>
                    <td>員工</td>
                    <td>john@example.com</td>
                    <td>0970028151</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                    <td>john@example.com</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>john@example.com</td>
                    <td>john@example.com</td>
                </tr>

            </tbody>

        </table>

    </div>
</div>
