<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<style>

    .container {
        /* 調整區塊長寬 */
        width: 1100px;
        height: 700px;
    }

</style>

<script>
    

    document.addEventListener('DOMContentLoaded', function () {
        var CalIfo = [];
        @if (ViewBag.CalData != null)
        {
            @foreach (var GetCal in ViewBag.CalData)
            {
                var thing = GetCal.MemberName + "的" + GetCal.memAct;
                @:CalIfo.push({
                @:title: @Html.Raw(Json.Serialize(thing)),
                @:start: @Html.Raw(Json.Serialize(GetCal.StTime)),
                @:end: @Html.Raw(Json.Serialize(GetCal.EdTime))
                @:})
            };
        }
        console.log('CalIfo:', CalIfo);
    console.log('ViewBag.CalData:', @Html.Raw(Json.Serialize(ViewBag.CalData)));
        var calendarEl = document.getElementById('calendar');


    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'zh-tw',
        navLink: true,
        headerToolbar: {
            left: 'prev,next,today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        events: CalIfo,
        eventClick: function (info) {
            info.jsEvent.preventDefault();
            if (info.event.url) {
                window.open(info.event.url);
            }
        }
            
            
            //initialView: 'dayGridMonth',
            //locale: 'zh-tw',//這行是自己加的，更改語言為繁中 使用版本6.1.8有些按鈕翻譯不全
            //navLink: true, //增加導覽列進入月曆，自己出現並不會更改樣式 要配合下面headerToolbar

            //headerToolbar: {//headToolbar可以根據自己需求 增加行事曆的功能於上方導覽列
            //    left: 'prev,next,today',//left:為在左方增加元件 冒號右邊給予 '關鍵字' 增加元件 注意使用關鍵字時不要亂加空格會顯示在前端按鈕上很醜!~~
            //    //prev為 新增上一頁按鈕 || next為 新增下一頁按鈕 || today為 新增回到看得到今天頁面的按鈕
            //    center: 'title', //中心的地方 放入月份(title)
            //    right: 'dayGridMonth,timeGridWeek,timeGridDay' //月曆右側 加入月(dayGrinMouth)
            //    //周(timeGridWeek),日(timerGridDay)
            //},

            ////下方用events來在行事曆格子中新增 '活動'
            ////屆時加入後端資料庫來新增活動 此處先自行輸入熟悉events用法
            ////格式為 events:[{},{},{}...以此類推] 字要打對= = 是Ｅ　Ｖ　Ｅ　Ｎ　Ｔ　Ｓ
            //events: events,
            //eventClick: function (info) {
            //    info.jsEvent.preventDefault(); // don't let the browser navigate
            //    if (info.event.url) {
            //        window.open(info.event.url);
            //    }
            //}
        });
        calendar.render();
    });

</script>

<div class="container mt-5">
    <!-- 此處新增區塊並加入類別選擇器來方便使用自創的css檔案(MyStyle.css操控月曆的大小) -->
    <div id='calendar'></div>
</div>
